@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,300&display=swap");
// font-family: 'Roboto Mono', monospace;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
// font-family: 'Rubik', sans-serif;

$font-logo: "Roboto Mono", monospace;
$font-site: "Rubik", sans-serif;

$black: #000;
$gray: #757575;
$white: #fff;
